.login-header {
    width: 100%;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/pong.png');
    background-position: center;
    display: flex;
    align-items: center;
}

.login-textzone {
    color: #fff;
    width: 100%;
    max-width: 1700px;
    padding: 0 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.react-tabs {
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 30px;
    margin-top: -160px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

.react-tabs__tab-list {
    display: inline-flex;
    width: 100%;
    text-align: center;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.react-tabs__tab {
    flex: 1;
    width: 100%;
    display: initial;
    border: initial;
    border-bottom: initial;
    bottom: initial;
    position: initial;
    list-style: none;
    padding: 50px;
    cursor: pointer;
    text-align: center;
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.react-tabs__tab--selected {
    color: #fff;
    background: #134345;
    border-radius: 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.react-tabs__tab:focus:after {
    background: none;
    box-sizing: none;
}

.login-tab {
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
}

.account-input {
    width: 100%;
    border-radius: 23px;
    background: #DDD;
    padding: 20px 50px;
    border: none;
}

.forgot-pwd {
    font-size: 15px;
}

.forgot-pwd a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

.btn-submit {
    border: none;
    background-color: #134345;
    color: #fff;
}

.btn-submit:hover {
    border: none;
    background-color: #134345;
    color: #fff;
}
